.form-container {
    display: flex;
    overflow: hidden;
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    flex: 10;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.form-table {    
    background-color: white;
    padding: 10px;
    box-shadow: none;
    display: grid ;
    grid-template-columns: 1fr 5fr;
    width: 100%;
}

.input-field-company {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    width: 100%; 
    margin-bottom: 10px;
}

.title-form {
    font-size: 17px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-field-company:focus {
    border-color: #000000;
    outline: none;
}

.submit-btn {
    grid-column: span 2; 
    padding: 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: #363b3f;
    transform: translateY(-3px);
}

/* Responsive behavior */
@media (max-width: 768px) {
    .form-table {
        grid-template-columns: 1fr;
    }

    .submit-btn {
        grid-column: span 1;
    }
}
