.table-container {
    display: flex;
    overflow: hidden;
    background-image: url('../../../assets/background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.table-wrapper {
    flex: 10;
    padding: 20px;
    max-height: 800px; 
    overflow-y: auto;  
}

/* New category button */
.new-form-button {
    border: none;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
}

.new-form-button:hover {
    background-color: darkgray;
}

/* Table title */
.table-title {
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    text-align: center; 
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse; /* Updated for full borders between cells */
    background-color: white; 
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

thead {
    position: sticky; 
    top: 0;
    background-color: darkgray;
    color: white;
    text-align: center;
    z-index: 1;
}

th, td {
    padding: 12px; 
    border: 1px solid black; /* Added border to each cell */
}

thead th {
    background-color: darkgray; 
    color: white;
    border-bottom: 2px solid black; /* Border at the bottom of header cells */
}

tbody {
    display: block;
    max-height: 800px;
    overflow-y: auto;  
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Button group styling */
.table-button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table-button-group button {
    border: none;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}

.table-button-group button:last-child {
    background-color: var(--red-color);
}

.table-button-group button:first-child:hover {
    background-color: green;
}

.table-button-group button:last-child:hover {
    background-color: red;
}

.table-button-group button a {
    color: var(--white-color);
}

/* Responsive styles */
@media (max-width: 720px) {
    .table-wrapper {
        padding: 15px;
    }

    .table-button-group {
        flex-wrap: wrap;
    }

    .table-button-group button {
        width: 100%;
        margin: 10px 0;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 520px) {
    .table-wrapper {
        padding: 5px;
    }

    th, td {
        padding: 4px;
    }
}
