.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.car-image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    height: 250px;
    margin-bottom: 20px;
}

.car-image-container img {
    width: 100%;
    height: 250px;
    object-fit: contain; /* Adjusted to cover for better fitting */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.car-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    align-items: stretch; /* Ensures both columns have the same height */
}

/* Flexbox styling for details */
.car-detail, .car-details-company {
    background-color: black;
    flex: 1; /* Allows both divs to take equal width */
    padding: 10px;
    box-sizing: border-box; /* Includes padding in the width */
    border-radius: 8px; /* Rounded corners */
}

.car-details-text, .company-details-text {
    font-size: 15px;
    color: white;
    padding: 5px;
}

.car-details-title {
    font-size: 17px;
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.company-img-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center; /* Aligns the image and text vertically */
}

.company-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover; /* Adjusted to cover for better fitting */
}

.company-name-email {
    margin-left: 10px;
}

.review {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .car-details {
        flex-direction: column; /* Stacks the car detail and company detail */
    }

    .car-detail, .car-details-company {
        width: 100%; /* Each takes full width */
        margin-bottom: 20px; /* Space between stacked elements */
    }
}

@media (max-width: 520px) {
    .car-image-container {
        grid-template-columns: 1fr; /* 1 image per row on very small screens */
    }
}
