.table-container {
    display: flex;
    overflow: hidden;
    background-image: url('../../../../assets/background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.table-wrapper {
    flex: 10;
    padding: 20px;
    overflow-y: scroll;
}

.new-form-button {
    border: none;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
}

/* Hover effect for the button */
.new-form-button:hover {
    background-color: darkgray;
}

.table-title {
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    width: max-content;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: white; 
}

th, td {
    border: 1px solid lightgray; 
    padding: 10px;
}

th {
    background-color: darkgray; 
    color: white;
}

tr:nth-child(even) {
    background-color: white; 
}

tr:hover {
    background-color: #f0f0f0; 
}

.table-company-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table-button-group {
    display: flex;
    gap: 10px; /* Adds space between buttons */
}

.table-company-image {
    width: 40px;
    height: 40px;
}

.new-form-button {
    margin-bottom: 20px; /* Adds space below the new company button */
}


.table-button-group button {
    border: none;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}

.table-button-group button:last-child {
    background-color: var(--red-color);
}

.table-button-group button:first-child:hover {
    background-color: green;
}

.table-button-group button:last-child:hover {
    background-color: red;
}

.table-button-group button a {
    color: var(--white-color);
}

@media (max-width: 720px) {
    .table-wrapper {
        padding: 15px;
    }

    .table-button-group {
        flex-wrap: wrap;
    }

    .table-button-group button {
        width: 100%;
        margin: 10px 0;
    }

    th, td {
        padding: 5px;
    }
}

@media (max-width: 520px) {
    .table-wrapper {
        padding: 5px;
    }

    th, td {
        padding: 2px;
    }
}
