.sidebar {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white; 
    height: 100vh; 
    overflow-y: auto;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.dashboard-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.sidebar-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar-link svg {
    margin-right: 10px; 
    width: 20px; 
    height: 20px;
}

.sidebar-link:hover {
    color: gray; 
}


@media (max-width: 990px){
    .sidebar{
        display: none;
    }
}
