.table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.table {
    width: 100%;
    border-collapse: collapse; 
    background-color: white; 
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    table-layout: fixed; /* Make columns fixed-width */
}

th, td {
    padding: 12px; 
    border: 1px solid black;
    text-align: center; 
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Ellipsis for overflowed text */
}

th {
    background-color: darkgray;
    color: white;
}

thead {
    position: sticky; 
    top: 0;
    background-color: darkgray;
    z-index: 1;
}

tbody {
    display: block;
    max-height: 800px;
    overflow-y: auto;  
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 720px) {
    th, td {
        padding: 8px;
        font-size: 14px; /* Smaller font size */
    }
}

@media (max-width: 520px) {
    .table-container {
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    th, td {
        padding: 4px;
        font-size: 12px; /* Smaller font size */
    }
}
